body{
    text-align: center;
    color:white;
    font-family: Palanquin;
    background-color:rgba(48, 48, 48, 1);
}
main{
    pointer-events:auto;
    margin-left:auto;
    margin-right:auto;
    max-width:1280px;
    max-height:720px;
    min-height: 720px;
    margin-top:100px;
    margin-bottom:auto;
    background-color:rgba(32, 32, 32, 1);
    filter:drop-shadow(5px 20px 4px rgba(0, 0, 0, 0.15000000596046448));
    border-radius:30px;
    overflow:hidden;
}
.logo-nav{
    max-height: 100px;
    max-width: auto;
}
.sombra-nav{
    margin-top: 10px;
    max-height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 0px 20px 20px;
    background-color:rgba(0, 0, 0, 0.15000000596046448);
}
.nav-fix{
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
}
.imagen{
    float: left;
    max-width: 400px;
    border-radius: 20px 20px 20px 20px;
}
.texto-bienvenida{
    text-align: center;
    font-weight: bold;
    font-style: normal;
    line-height: 40px;
    font-size: 40px;
}
.text-fix{
    padding-top: 80px;
}
#circle-left-top{
    position: absolute;
    width: 740px;
    height: 606px;
    left: -280px;
    top: -300px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(19, 142, 54, 0.4) 0%, rgba(18, 144, 53, 0.36875) 0.01%, rgba(4, 158, 47, 0) 100%);
}
#circle-right-bot{
    position: absolute;
    width: 824px;
    height: 702px;
    left: 750px;
    top: 200px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(67, 141, 32, 0.4) 0%, rgba(20, 123, 49, 0.36875) 0.01%, rgba(36, 53, 41, 0) 100%);
}
.boton-site{
    bottom: 0px;
    position: relative;
}
.boton{
    color: #138E36;
    filter: drop-shadow(10px 15px 4px rgba(0, 0, 0, 0.4));
    bottom: 0px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,100%);
    transform: translate(-50%,100%);
}
.contenido{
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}
.ajuste-nav{
    padding-top: 25px;
}
.next-fix{
    background-color:transparent;
    color: #138E36;
    outline: none;
    border: none;
}
.info{
    position: absolute;
    min-height: 284px;
}